<% if !@results[0].empty? %>
    <h2>Destination Results</h2>
    <br>
    <% @results[0].each do |destination| %>
        <%= link_to destination.str_addr_fields, destination %>
        <br>
    <% end %>
<% end %>
<% if !@results[1].empty? %>
    <h2>Hack Results</h2>
    <br>
    <% @results[1].each do |hack| %>
        <%= link_to hack.title, hack %>
        <br>
    <% end %>
<% end %>
<% if !@results[2].empty? %>
    <h2>User Results</h2>
    <br>
    <% @results[2].each do |user| %>
        <%= link_to "#{user.name}, #{user.location}", user %>
        <br>
    <% end %>
<% end %>
<% if @results[0].empty? && @results[1].empty? && @results[2].empty? %>
    <h4>No results found</h4>
<% end %>