
<% if logged_in? %>
    <h1><%= "Welcome, #{current_user.name}" %></h1>
    <h2>Your Travels Await You</h2>
<% else %>
    <h1>Welcome to Your Traveling Community</h1>
<% end %>

<img src="https://lh3.googleusercontent.com/VO-FP1n0APNDkCPJKYzXTQY-FH-gu7RLqMGx_wc3RZzrZt8MSNMGyGt2aL7Y2nT5U_IO_BInGm6BcIcKcS93DDVvHL-q75ldozy_jrJpACwpcxLYI-EyiZetpQeuut4kluI3oSRLHx7AlavgA-O6cpRcr7IVKjyACMxvRO7y1gfPK6hNjXT56Xo7ztM4KzFV3Wbwa15oUTGyy0YuVeopU10Gyz_NHeevCdyMgOZqMmoeUIQxwPU0mVo3XJNkjevFCafJcebYWhK4XSF_0CbROk4kLPRPoMnqH9RykfmOP8Np2eLpMJdvmB6-GQyfQaIroPwX_xfRMfCC41jJCLRafgiyt51XJQmc8fO9uoIwp1guhdERvc2Aqru8FH_gI1rZZJQgJ62f0fyF_mXabP-87wninVek5l1fa7mLGci3bPczdMol4tlZK1FceHdh2Wra9w4NczWxARAWCS7dpBm2zf7Ti4Nf-H0AzthMnrBwUzaQo8QyZytDPTiM3nlzdaoDTzk_JmAEiqX_iGI0UVBkPJXEtFr8dT4Ow4CscwYeDG7ykcrfUbjjfVSOGbRL9mm3my3AgO7wTZzmHeBMyCkzEOzJUGXNQosgiDe_JeM-xVcmR1Oe7dpWPVl0WTGe1X3Nj87dvCnRrfPWJfIE9At-QguSDO-5eU2NRDul0cl1AAMsg-iTnhYAwA=w959-h605-no" class="reg-img">