<h1>Destinations</h1>

<% @destinations.each do |destination| %>
  
  <%= link_to destination.str_addr_fields, destination %>

  <%# add img_url for each destination. dest name and picture should link to show page%>
  <br>
<% end %>
